:root {
    --background: #d8d3cb;
    --light: #e7e4e0;
    --xlight: #faf8f6;
    --accent: #4c4d59;
    --dark: #292929;
}

* {
    color: var(--accent);
    
}

body {
    background-color: var(--background);
}

.header {
    background: var(--dark);
}

.header h1 {
    color: var(--xlight);
    font-family: 'Poppins', sans-serif;                 
}

.header a {
    text-decoration: none;
    /* font-weight: bold; */
    color: var(--xlight);
    font-family: 'Poppins', sans-serif; 
}

.active {
    color: var(--xlight) !important; 
    font-weight: bolder!important; 
    text-decoration: underline !important;
 
}

.header a:hover {
    color: var(--background);
}

.footer {
    background-color: var(--light);
}

h3, h5 {
    font-family: 'Poppins', sans-serif; 
    color: var(--dark)
}

.project-card {
    color: var(--background) ;
    background-color: var(--xlight);
    border-radius: 10px;
}


.project-card a {
    color: var(--background);
}

.project-image {
    border-radius: 10px 10px 0 0;
}